.element__container{
    background-color: #fff;
    max-width: 282px;
    color: #000;
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    border-radius: 0 0 20px 20px;
}
    .error-message {
        color: red;
        font-size: 12px;
        display: none;
    }
    .popup__submit-button:disabled {
        background-color: #cccccc; /* Цвет неактивной кнопки */
        cursor: not-allowed;
    }
