.element__title_card{
    padding-left: 15px;
    font-size: 24px;
    font-weight: 900px;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
}